<div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="form-label" [class.label-error]="email.touched && email.invalid" for="email">E-mail</label>
            <input class="form-input" [class.input-error]="email.touched && email.invalid" formControlName="email" type="email" name="email" id="email">
            @if (email.touched && email.invalid){
                <small>Email é obrigatório</small>
            }
        </div>
        <div class="form-group">
            <label class="form-label" [class.label-error]="password.touched && password.invalid" for="senha">Senha</label>
            <input class="form-input" [class.input-error]="password.touched && password.invalid" formControlName="password" type="password" name="password" id="password">
            @if (password.touched && password.invalid){
                <small>Senha deve conter no mínimo 8 digitos</small>
            }
            @if (errorMessage){
                <small>{{errorMessage}}</small>
            }
        </div>
        <app-auth-button></app-auth-button>
    </form>
    <div class="links">
        <p>Ainda não tem conta? <a class="link" routerLink="/register">Cadastre-se</a></p>
    </div>
</div>