<div class="form-wrapper">
    <form>
        <div class="form-group">
            <label class="form-label" for="email">E-mail</label>
            <input class="form-input" type="email" name="email" id="email">
            <small>E-mail é obrigatório</small>
        </div>
        <div class="form-group">
            <label class="form-label" for="senha">Senha</label>
            <input class="form-input" type="password" name="password" id="password">
            <small>Senha é obrigatória</small>
        </div>
        <button class="form-button">Entrar</button>
    </form>
</div>