.form-wrapper{
    width: 34rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
form {
    padding: var(--spacing-sm);
    background-color: var(--bg-primary);
    max-width: inherit
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    max-width: inherit;
    margin-bottom: var(--spacing-lg);
}

.form-group label {
    font: var(--label);
    color: var(--primary);
}

.form-group input,
.form-button {
    width: 100%;
    height: 2.5rem;
    border-radius: var(--spacing-sm);
    color: var(--primary);
}

.form-input {
    border-bottom: 1px solid var(--stroke);
    background-color: var(--fill-transparent);
    padding: var(--spacing-sm);
}

.form-input:focus, .form-input:focus-visible{
    border: 2px solid var(--stroke);
}

.form-button {
    background-color: var(--dark-green);
    cursor: pointer;
}
.form-button:hover{
    border: 2px solid var(--stroke);
    color: #fff;
}

.input-error{
    border: 2px solid var(--danger);
}

.form-group, .label-error{
    color: var(--danger) !important;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ced4da;
    gap: var(--spacing-sm);
    font-size: .75rem;
    font-weight: 200;
}
.links p:hover{
    color: #fff;
}

