
$primary: #FFF;
$secondary:  #DEE2E6;
$danger: #EF5350;
$bg-primary: #121212;
$bg-secondary: #242424;
$fill: #D9D9D9;
$stroke: #E0E0E0; 


$red: #F94144;
$orange: #F9844A;
$yellow: #F9C74F;
$light-green: #90BE6D;
$dark-green: #90BE6D;
$dark-gray: #343A40;
$white: #EDF6F9;





