.form-wrapper {
    width: 34rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

form {
    padding: var(--spacing-sm);
    background-color: var(--bg-primary);
    max-width: inherit
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    max-width: inherit;
    margin-bottom: var(--spacing-lg);
}

.form-group label {
    font: var(--label);
    color: var(--primary);
}

.form-group input {
    width: 100%;
    height: 2.5rem;
    border-radius: var(--spacing-sm);
    color: var(--primary);
    border-bottom: 1px solid var(--stroke);
    background-color: var(--fill-transparent);
    padding: var(--spacing-sm);
}

.form-input:focus,
.form-input:focus-visible {
    border: 2px solid var(--stroke);
}

.input-error {
    border: 2px solid var(--danger) !important;
}

.form-group,
.label-error {
    color: var(--danger) !important;
}


@media (max-width: 1600px) and (min-width: 1024px) {

    .form-label,
    .form-input,
    .form-button {
        font-size: var(--font-size-lg);
    }

    .form-group small {
        font-size: var(--font-size-md);
    }
}

@media (max-width: 768px) {
    .form-wrapper {
        width: 21.25rem;

        & form {
            background-color: transparent;
        }
    }
}