<div class="bg-wrapper">
    <div class="bg-overlay">
        <div class="container">
            <div class="image-content"></div>
            <div class="content-wrapper">
                <div class="logo-wrapper">
                    <h1>SEJA BEM VINDO AO</h1>
                    <img src="assets/logo.svg" alt="logo cashly">
                </div>
                <div class="form-container">
                    <app-login-form></app-login-form>
                </div>
            </div>
        </div>
    </div>
</div>